# Assigning reviewers for different directories

/components/      @akshaykaluse35 @GetSomeSleepBro
/css/             @raj-raut8502
/data/            @SAYUK09
/layouts/         @shubham-kshetre
/lib/             @Sunnyy001
/pages/           @suyashbhawsar
/public/          @akshaykaluse35 @GetSomeSleepBro
/scripts/         @raj-raut8502
